<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="ListenerTest"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/pandat1/Workplace/GoogleAccountLogin">
        <classes>
            <class name="GoogleAccountLogin"/>
        </classes>
    </test>
</suite>